#header {
    width: 100%;
    header{
        display: flex;
        height: 3rem;
        justify-content: space-between;
        align-items: center;
        .ant-input {
            width: 15rem;
        }
        span {
            vertical-align: middle;
        }
        .left {
            width: 5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}